{% extends 'base.html' %}
{% load staticfiles %}


{# TODO: ADD ICONS/EMOJIS, funny placeholder messages #}
{# TODO: Make sure fonts consistent for all pages #}
{# TODO: Make sure my urls are okay and in the right format #}
{# TODO: Prevent scrolling back when user clicks next page #}

{% block content %}

{# Div class for the title, and buttons #}
<div style="text-align: center;" >
<h1 class="animated fadeIn" style="margin-top:14%; font-family: 'Raleway', sans-serif;">CONNECT</h1>
<h3 class="animated fadeIn" style="font-family: 'Raleway', sans-serif;">Add you viewing ten equally believe put. </h3>

    {# SignUp Button #}
    <button name="first_step" class="button button-primary" data-toggle="modal" data-target="#popUpWindow" style="margin-top: 1.5%; margin-right: 1.5%">Sign Up</button>
    <div class="modal fade" id="popUpWindow">
    <div class="modal-dialog">
        <div class="modal-content animated bounceIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="font-family: 'Raleway', sans-serif;">Sign Up</h3>
            </div>
            <div class="modal-body">

                <form method='POST'>{% csrf_token %}
                    {% load widget_tweaks %}
                    {% for field in sign_form %}
                        <div class="form-group">
                            {% render_field field class="form-control" placeholder=field.label %}
                        </div>

                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}

                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}

                    {% endfor %}
                    <input class="button"  type='submit' value='Sign Up' name="sign_up"/>

                </form>



{#            <a class="btn" href="{% url 'profile_creation' %}">#}
{#                <button class="button" style="text-align: center; margin-bottom: 5%; font-family: 'Raleway', sans-serif;">Sign Up</button>#}
{#                </a>#}


{#                <form method='POST' action="{% url 'profile_creation' %}" >{% csrf_token %}#}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control" style="font-family: 'Raleway', sans-serif;" placeholder="First Name">#}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control" style="font-family: 'Raleway', sans-serif;" placeholder="Last Name">#}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{#                        <input type="email" class="form-control" style="font-family: 'Raleway', sans-serif;" placeholder="Email">#}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{#                        <input type="text" maxlength="15" class="form-control" style="font-family: 'Raleway', sans-serif;" placeholder="Username">#}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{#                        <input type="password" class="form-control" style="font-family: 'Raleway', sans-serif;" placeholder="Password">#}
{#                    </div>#}
{#                    <input class="button" style="text-align: center; font-family: 'Raleway', sans-serif;" type='submit' value='Sign Up'/>#}
{#                </form>#}
            </div>

            {# Is this the right way to referencing buttons to different pagres???? #}

{#            <a class="btn" href="{% url 'profile_creation' %}">#}
{#                <button class="button" style="text-align: center; margin-bottom: 5%; font-family: 'Raleway', sans-serif;">Sign Up</button>#}
{#                </a>#}

            {#            <div class="modal-footer">#}
{#            </div>#}
        </div>
    </div>
</div>

    {# Login Button #}
    <button class="button button-primary" data-toggle="modal" data-target="#nextPopWindow" style="margin-top: 1.5%">Login</button>
<div class="modal fade" id="nextPopWindow">
    <div class="modal-dialog">
        <div class="modal-content animated bounceIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" style="font-family: 'Raleway', sans-serif;">Log In</h3>
            </div>

            <div class="modal-body">

{#                <form method="POST">{% csrf_token %}#}
{#                    {{ login_form.as_p }}#}
{#                <input class="button"  type='submit' value='Login' name="login"/>#}
{#                </form>#}


            <form id="login-form" method="post"
                  action="">
                {% csrf_token %}
                {% load widget_tweaks %}
                    {% for field in login_form %}
                        <div class="form-group">
                            {% render_field field class="form-control" placeholder=field.label %}
                        </div>
                    {% endfor %}
                    <input class="button"  type='submit' value='Login' name="login"/>
                    <input type="hidden" name="next" value="{{ next }}" />

{#                {% if messages %}#}
{#                    {% for message in messages %}#}
{#                        <p style="color: red">{{ message }}</p>#}
{#                    {% endfor %}#}
{#                {% endif %}#}


{#                {{ login_form.as_p }}#}
{#                <label for="id_username">Username</label>#}
{#                    <div class="form-group">#}
{#                        <input id="id_username" name="username" type="text" class="form-control">#}
{#                        <label for="id_password">Password</label>#}
{#                        <input id="id_password" name="password" type="password" class="form-control">#}
{#                    </div>#}
{#                {% if form.errors %}#}
{#                    <p class=" label label-danger">#}
{#                        Your username and password didn't match.#}
{#                        Please try again.#}
{#                    </p>#}
{#                {% endif %}#}
{#                <input class="btn btn-success btn-sm" type="submit" value="login" />#}
{#                <input type="submit" value="Login"#}
{#                       class="btn btn-success btn-sm" name="login" />#}
{#                <input type="hidden" name="next" value="{{ next }}" />#}

            </form>
        </div>
    </div>




{#                <form method="post" action="{% url 'login' %}"> {% csrf_token %}#}
{##}
{#                {{ form.username.label_tag }}#}
{#                {{ form.username }}#}
{#                {{ form.password.label_tag }}#}
{#                {{ form.password }}#}
{##}
{#    <input class="btn btn-success btn-sm" type="submit" value="login" />#}
{#    <input type="hidden" name="next" value="{{ next }}" />#}
{##}
{#                </form>#}

{#                <form role="form" method="post" action="{% url 'login' %}"> {% csrf_token %}#}
{##}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control" style="font-family: 'Raleway', sans-serif;" placeholder="Email or Username">#}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{#                        <input type="password" class="form-control" style="font-family: 'Raleway', sans-serif;" placeholder="Password">#}
{#                    </div>#}
{##}
{#                    <input class="btn btn-success btn-sm" type="submit" value="login" />#}
{#                    <input type="hidden" name="next" value="{{ next }}" />#}
{##}
{#                </form>#}
            </div>


{#        <form method="post" action="{% url 'login' %}"> {% csrf_token %}#}
{#            <input class="btn btn-success btn-sm" type="submit" value="login" />#}
{#            <input type="hidden" name="next" value="{{ next }}" />#}
{#        </form>#}


{#            <a class="btn" href="{% url 'main_page' %}">#}
{#                <button class="button" style="text-align: center; margin-bottom: 5%; font-family: 'Raleway', sans-serif;">Log In</button>#}
{#            </a>#}


{#            <div class="modal-footer">#}
{#                <button class="btn btn-primary btn-block">Log In</button>#}
{#            </div>#}
        </div>



{% if messages %}
    {% for message in messages %}
        <p style="color: red">{{ message }}</p>
    {% endfor %}
{% endif %}

{# TODO: ADD THE SIGNUP FIELD ERRORS! #}
{% for error in sign_form.field.errors %}
    {{ error }}
{% endfor %}



</div>
{#</div>#}




{# End Div Class #}

{# Div class for the Images and text #}
<div class="container">
<section class="header">
<div class="value-props row" style="margin-top: 4%">
    <div class="four columns value-prop">
          <img class="value-img" src="{% static 'images/pens.png' %}">
          <p style="margin-left: 2%">Light as a feather at ~400 lines &amp; built with mobile in mind.<p>
        </div>
    <div class="four columns value-prop">
          <img class="value-img" src="{% static 'images/watch.png' %}">
          Light as a feather at ~400 lines &amp; built with mobile in mind.
        </div>
    <div class="four columns value-prop">
          <img class="value-img" src="{% static 'images/feather.png' %}">
          Light as a feather at ~400 lines &amp; built with mobile in mind.
        </div>
</div>
</section>

{# End Div Class #}
</div>

{% endblock %}
